header{min-height:200px;
	margin:0 0 25px;
	background-image:url("../img/fundo-slide-pagina-cadastro.png");
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#000}
	header:before,
	header:after{content:" ";display:table}
	header:after{clear:both}
	header:after{content:"";display:block;background-color:#9ad15e;background-image:-webkit-gradient(linear, 90deg, from(#31b1e7), to(#9ad15e));background-image:-webkit-linear-gradient(90deg, #31b1e7, #9ad15e);background-image:-moz-linear-gradient(90deg, #31b1e7, #9ad15e);background-image:-ms-linear-gradient(90deg, #31b1e7, #9ad15e);background-image:-o-linear-gradient(90deg, #31b1e7, #9ad15e);background-image:linear-gradient(90deg, #31b1e7, #9ad15e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#31b1e7', EndColorStr='#9ad15e')}header h1{margin-top:120px !important}.botao{display:table;margin:30px auto 0 auto;clear:both}
