footer
	+gradient(0deg, $azul-claro, transparent)
	padding: 40px
	p
		text-align: center
	.logo-rodape
		margin: 0 0
		img
			width: 70px
			height: 70px
			//display: block
			margin: 10 auto

		
		

